<header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include src="'template/header-image-logo.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

    <section id="content">

        <div class="container">
            <div class="block-header">
                <h2>School Geozones</h2>
            </div>
			<!-- CONTENT CARDS AS BELOW-->
			<div class="card">
				<div class="card-header">
					<p>To create a zone, choose the polygon tool and click to draw points. Double-click to finish.<br>
                    To edit a zone's borders, choose the hand tool, and click a zone to select it. Points may then be moved, added or removed by click-and-dragging them.<br>
                    To edit a zone's name, description, or type/colour, double-click the zone with the hand tool once it has been selected.</p>
                    <div id="map-canvas" data-ng-controller="MapCtrl" style="height: 400px"></div>
                    <!-- MODAL START --->
                    <script type="text/ng-template" id="modalContent.html">
                        <div class="modal-header">
                            <h4 class="modal-title">Geozone Settings</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <div class="fg-line">
                                    <input type="text" class="form-control input-sm" ng-model="nameModel" placeholder={{zone.name}}>
                                </div>
                            </div>
                            <br/>
                            <div class="form-group">
                                <div class="fg-line">
                                    <textarea class="form-control" rows="3" ng-model="contentModel" placeholder={{zone.content}}></textarea>
                                </div>
                            </div>
                            <br/>
                            <p>This zone is currently: {{zone.type}}</p>
                            <div class="btn-group">
                                <label class="btn bgm-green" ng-model="typeModel" uib-btn-radio="'Green'">Green</label>
                                <label class="btn bgm-amber" ng-model="typeModel" uib-btn-radio="'Yellow'">Yellow</label>
                                <label class="btn bgm-red" ng-model="typeModel" uib-btn-radio="'Red'">Red</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-link" ng-click="save()">Save</button>
                            <button class="btn btn-link" ng-click="delete()">Delete</button>
                            <button class="btn btn-link" ng-click="cancel()">Cancel</button>
                        </div>
                    </script>
                    <!-- MODAL END --->
                </div>
			<!-- END CONTENT CARD-->
            <div class="row">
            </div>
        </div>

    </section>
</section>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>
